<div class="dice-roll" data-action="expandRoll">
    <div class="dice-result">
        <div class="dice-formula">{{title}}</div>
        {{{tooltip}}}
        <div class="dice-formula">{{localize "glyphes.roll.result.total" total=total}}</div>
        
        <div class="dice-formula">{{localize "glyphes.roll.result.difficulte" difficulte=difficulte}}</div>
        <h4 class="dice-total">{{result}}</h4>

        {{#if (gt ptHeroisme 0)}}
        <button data-action="gainHeroisme" data-nbpoint="{{ptHeroisme}}">Gagner {{ptHeroisme}} Pts d'héroisme</button>
        {{/if}}
    </div>
</div>
