<section>


    <div class="atitudesContainer">
    {{#each aptitudes.categories as |categorie| }}
        <div>
            <h2>{{ localize (concat "glyphes.aptitudes.categories." @key) }}</h2>
           
        
        {{#each categorie as |aptitude| }}
            {{#if aptitude }}
                <div class="field">
                    
                    <label data-action="aptitudeRoll" data-aptitude="{{ aptitude }}">
                        <span>{{ localize (concat "glyphes.aptitudes." aptitude ".name") }}</span></br>
                        <span>(
                            {{#with (lookup ../../lists.aptitudes aptitude ) as |apt| }}
                                {{#if apt.competencesText }}
                                    {{ localizeSystem apt.competencesText }}
                                {{else}}
                                    {{#each apt.competences as |competence| }}
                                        {{ localize (concat "glyphes.competences." competence ".court") }}{{#unless @last}}, {{/unless}}
                                    {{/each}}
                                    
                                    {{#each apt.sens as |sens| }}
                                        {{ localize (concat "glyphes.sens." sens ) }}{{#unless @last}}, {{/unless}}
                                    {{/each}}
                                {{/if}}
                            {{/with}}
                            )</span>
                    </label>
                    {{#with (lookup ../../system.aptitudes aptitude ) as |apt| }}
                    <div>
                        {{ fieldOrInput (concat "system.aptitudes." aptitude ".value") class="pj-sheet-input" value=apt.value}}
                    </div>
                    {{/with}}
                </div>
            {{/if}}
        {{/each}}
        </div> 
    {{/each}}

    </div>
</section>