<section class="evocation">

    <div class="flextabs pts">
        <div class="temepete ">
            <div>{{localize "glyphes.sheet.actor.evocation.tempete.pts"}}</div>
            <div class="points tempete">
                <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="tempete" data-sens="-">-</span>
                <span class="pts">
                    {{#times system.points.tempete.value }}
                        <span class="active"></span>
                    {{/times}}
                    {{#times system.points.tempete.bonus }}
                        <span class="bonus"></span>
                    {{/times}}
                    {{#times system.points.tempete.nope }}
                        <span></span>
                    {{/times}}
                </span>
                <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="tempete" data-sens="+">+</span>
            </div>
        </div>

        <div class="ame ">
            <div>{{localize "glyphes.competences.cat.ame"}}</div>
            <div class="points ame">
                <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="ame" data-sens="-">-</span>
                <span class="pts">
                    {{#times system.points.ame.value }}
                        <span class="active"></span>
                    {{/times}}
                    {{#times system.points.ame.bonus }}
                        <span class="bonus"></span>
                    {{/times}}
                    {{#times system.points.ame.nope }}
                        <span></span>
                    {{/times}}
                </span>
                <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="ame" data-sens="+">+</span>
            </div>
        </div>
    </div>

    <hr/>

    <div class="flextabs">
        <div class="field">
            <div>{{localize "glyphes.competences.esprit.long"}}</div>
            <div class="diceVal">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <use href="{{ callMethod ValeurDe "getIcon" system.competences.esprit.dice }}"/>
                </svg>
                <label>D{{ system.competences.esprit.dice}}</label>
            </div>
        </div>

        <div class="field">
            <div>{{localize "glyphes.sens.flux"}}</div>
            <div class="diceVal">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <use href="{{ callMethod ValeurDe "getIcon" system.sens.flux }}"/>
                </svg>
                <label>D{{ system.sens.flux}}</label>
            </div>
        </div>
    </div>

    <hr/>

    <div>
        <h2>
            <span>{{localize "glyphes.sheet.actor.evocation.glyphes.title"}}</span>
            <span class="action add button" data-action="addItem" data-type="glyphe" title="{{localize "glyphes.sheet.actor.evocation.glyphes.ajout"}}">{{localize "glyphes.sheet.actor.evocation.glyphes.ajoutbtn"}}</span>
        </h2>

        <div class="tabitem">
            {{#each glyphes as |item|}}
                <div class="item glyphe">
                    <div class="lignetab">
                        <label>{{item.name}}</label>
                        <label data-width="100">{{item.system.type}}</label>
                        <span class="action" >
                            {{#if item.system.notes}}<a data-action="toggle"  data-toggle="item_{{item._id}}"><i class="fas fa-eye"></i></a>{{/if}}
                            <a data-action="editItem" data-itemid="{{item.id}}" title="{{localize "glyphes.common.label.edit"}}"><i class="fas fa-edit"></i></a>
                            <a data-action="deleteItem" data-itemid="{{item.id}}" title="{{localize "glyphes.common.label.delete"}}"><i class="fas fa-trash"></i></a>
                        </span>    
                    </div>
                    {{#if item.system.notes}}
                    <div class="toggleable flexrow" data-toggle_section="item_{{item._id}}">
                        <div class="infos">
                            {{item.system.notes}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>

</section>