<section>

    <div>
        <label>{{localize "glyphes.sheet.actor.fabrication.aptitude"}}</label>
        <div>
            {{#fieldOrInput "system.fabrication.aptitude" type="text" class="pj-sheet-input" }}
            <select name="system.fabrication.aptitude">
                <option value="alchimiste" {{#if (eq "alchimiste" ../system.fabrication.aptitude) }}selected{{/if}}>{{localize "glyphes.aptitudes.alchimiste.name"}}</option>
                <option value="ingenieur" {{#if (eq "ingenieur" ../system.fabrication.aptitude) }}selected{{/if}}>{{localize "glyphes.aptitudes.ingenieur.name"}}</option>
            </select>
            {{/fieldOrInput}}
        </div>
    </div>

    <div>
        <label>{{localize "glyphes.sheet.actor.fabrication.nbIngredients"}}</label>
        <div>{{ fieldOrInput "system.fabrication.nbIngredients" type="number" class="pj-sheet-input" }}</div>
    </div>


    <div>
        <h2>
            <span>{{localize "glyphes.sheet.actor.fabrication.title"}}</span>
            <span class="action add button" data-action="addItem" data-type="fabrication" title="{{localize "glyphes.sheet.actor.fabrication.ajout"}}">{{localize "glyphes.sheet.actor.fabrication.ajoutbtn"}}</span>
        </h2>

        <div class="tabitem">
            {{#each fabrications as |item|}}
                <div class="item fabrication">
                    <div class="lignetab">
                        <label >{{item.name}}</label>
                        <label data-width="100">{{localize (concat "glyphes.fabrication.zone." item.system.zone) }}</label>
                        <label data-width="100">{{localize (concat "glyphes.fabrication.duree." item.system.duree) }}</label>
                        <label data-width="150">{{localize (concat "glyphes.fabrication.temps." item.system.temps) }}</label>
                        <label data-width="100">{{localize (concat "glyphes.common.difficulte." item.system.magnitude) }}</label>
                        <span data-width="50" class="action" >
                            {{#if item.system.notes}}<a data-action="toggle"  data-toggle="item_{{item._id}}"><i class="fas fa-eye"></i></a>{{/if}}
                            <a data-action="editItem" data-itemid="{{item.id}}" title="{{localize "glyphes.common.label.edit"}}"><i class="fas fa-edit"></i></a>
                            <a data-action="deleteItem" data-itemid="{{item.id}}" title="{{localize "glyphes.common.label.delete"}}"><i class="fas fa-trash"></i></a>
                        </span>    
                    </div>
                    {{#if item.system.notes}}
                    <div class="toggleable flexrow" data-toggle_section="item_{{item._id}}">
                        <div class="infos">      
                            {{item.system.notes}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</section>