<section>

    <div class="flextabs">
        <div class="field">
            <label>{{localize "glyphes.sheet.actor.max.pts.corps.max"}}</label>
            <div>{{ fieldOrInput "system.points.corps.max" class="pj-sheet-input"}}</div>
        </div>

        <div class="field">
            <label>{{localize "glyphes.sheet.actor.max.pts.corps.bonus"}}</label>
            <div>{{ fieldOrInput "system.points.corps.bonus" class="pj-sheet-input"}}</div>
        </div>
    </div>

    <div class="flextabs">
        <div class="field">
            <label>{{localize "glyphes.sheet.actor.max.pts.ame.max"}}</label>
            <div>{{ fieldOrInput "system.points.ame.max" class="pj-sheet-input"}}</div>
        </div>

        <div class="field">
            <label>{{localize "glyphes.sheet.actor.max.pts.ame.bonus"}}</label>
            <div>{{ fieldOrInput "system.points.ame.bonus" class="pj-sheet-input"}}</div>
        </div>
    </div>

    <div class="flextabs">
        <div class="field">
            <label>{{localize "glyphes.sheet.actor.max.pts.heroisme.max"}}</label>
            <div>{{ fieldOrInput "system.points.heroisme.max" class="pj-sheet-input"}}</div>
        </div>

        <div class="field">
            <label>{{localize "glyphes.sheet.actor.max.pts.heroisme.bonus"}}</label>
            <div>{{ fieldOrInput "system.points.heroisme.bonus" class="pj-sheet-input"}}</div>
        </div>
    </div>

    <div class="flextabs">
        <div class="field">
            <label>{{localize "glyphes.sheet.actor.max.pts.tempete.max"}}</label>
            <div>{{ fieldOrInput "system.points.tempete.max" class="pj-sheet-input"}}</div>
        </div>

        <div class="field">
            <label>{{localize "glyphes.sheet.actor.max.pts.tempete.bonus"}}</label>
            <div>{{ fieldOrInput "system.points.tempete.bonus" class="pj-sheet-input"}}</div>
        </div>
    </div>

</section>