<section>

    <div class="">
        <label>{{localize "glyphes.sens.vue"}}</label> : {{ system.sens.vue }}
    </div>
    <div class="">
        <label>{{localize "glyphes.sens.ouie"}}</label> : {{ system.sens.ouie }}
    </div>
    <div class="">
        <label>{{localize "glyphes.sens.instinct"}}</label> : {{ system.sens.instinct }}
    </div>
    <div class="">
        <label>{{localize "glyphes.sens.flux"}}</label> : {{ system.sens.flux }}
    </div>


    <fieldset>
        <legend>{{localize "glyphes.competences.cat.corps"}} pts corps</legend>
        
        <div class="">
            <label>{{localize "glyphes.competences.puissance.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="puissance" data-sens="-">-</span>
            <div>{{ fieldOrInput "system.competences.puissance.value" class="pj-sheet-input"}}</div>
            <span data-action="addRemoveDeCompetence" data-competence="puissance" data-sens="+">+</span>
        </div>
        
        <div class="">
            <label>{{localize "glyphes.competences.souplesse.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="souplesse" data-sens="-">-</span>
            <div>{{ fieldOrInput "system.competences.souplesse.value" class="pj-sheet-input"}}</div>
            <span data-action="addRemoveDeCompetence" data-competence="souplesse" data-sens="+">+</span>
        </div>
        
        <div class="">
            <label>{{localize "glyphes.competences.constitution.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="constitution" data-sens="-">-</span>
            <div>{{ fieldOrInput "system.competences.constitution.value" class="pj-sheet-input"}}</div>
            <span data-action="addRemoveDeCompetence" data-competence="constitution" data-sens="+">+</span>
        </div>
        
    </fieldset>
    
    <fieldset>
        <legend>{{localize "glyphes.competences.cat.ame"}} pts ame</legend>
        
        <div class="">
            <label>{{localize "glyphes.competences.foi.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="foi" data-sens="-">-</span>
            <div>{{ fieldOrInput "system.competences.foi.value" class="pj-sheet-input"}}</div>
            <span data-action="addRemoveDeCompetence" data-competence="foi" data-sens="+">+</span>
        </div>
        
        <div class="">
            <label>{{localize "glyphes.competences.social.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="social" data-sens="-">-</span>
            <div>{{ fieldOrInput "system.competences.social.value" class="pj-sheet-input"}}</div>
            <span data-action="addRemoveDeCompetence" data-competence="social" data-sens="+">+</span>
        </div>
        
        <div class="">
            <label>{{localize "glyphes.competences.esprit.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="esprit" data-sens="-">-</span>
            <div>{{ fieldOrInput "system.competences.esprit.value" class="pj-sheet-input"}}</div>
            <span data-action="addRemoveDeCompetence" data-competence="esprit" data-sens="+">+</span>
        </div>
        
    </fieldset>

</section>