<section class="perso">


<div class="carac">
    <div class="sens">
        <svg viewBox="0 0 361.90262 301.72366">
            <use href="systems/glyphes/assets/pics/sheet/sens.svg#icon"/>
        </svg>

        <div class="senslabel"><label>{{localize "glyphes.sens.titre"}}</label></div>

        <div class="sensvuelabel" data-action="sensRoll" data-sens="vue"><label>{{localize "glyphes.sens.vue"}}</label></div>
        <div class="sensvuevalue">D{{ system.sens.vue.dice }}</div>

        <div class="sensouielabel" data-action="sensRoll" data-sens="ouie"><label>{{localize "glyphes.sens.ouie"}}</label></div>
        <div class="sensouievalue">D{{ system.sens.ouie.dice }}</div>

        <div class="sensinstinctlabel" data-action="sensRoll" data-sens="instinct"><label>{{localize "glyphes.sens.instinct"}}</label></div>
        <div class="sensinstinctvalue">D{{ system.sens.instinct.dice }}</div>

        <div class="sensfluxlabel" data-action="sensRoll" data-sens="flux"><label>{{localize "glyphes.sens.flux"}}</label></div>
        <div class="sensfluxvalue">D{{ system.sens.flux.dice }}</div>


    </div>

    <div>
        <div class="col2">

            <div class="competences">
                <legend>{{localize "glyphes.competences.cat.corps"}} 
                    <span class="points corps">
                        <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="corps" data-sens="-">-</span>
                        <span class="pts">
                            {{#times system.points.corps.value }}
                                <span class="active"></span>
                            {{/times}}
                            {{#times system.points.corps.bonus }}
                                <span class="bonus"></span>
                            {{/times}}
                            {{#times system.points.corps.nope }}
                                <span></span>
                            {{/times}}
                        </span>
                        <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="corps" data-sens="+">+</span>
                    </span>
                </legend>
                

                <div class="competence">
                    <label>{{localize "glyphes.competences.puissance.court"}}</label>
                    <span class="moins" data-action="addRemoveDeCompetence" data-competence="puissance" data-sens="-"></span>
                    <div class="diceVal">
                        <svg width="50" height="50" viewBox="0 0 100 100">
                            <use href="{{ callMethod ValeurDe "getIcon" system.competences.puissance.value }}">
                        </svg>
                        <label>D{{ system.competences.puissance.dice}}</label>
                    </div>
                    <span class="plus" data-action="addRemoveDeCompetence" data-competence="puissance" data-sens="+"></span>
                </div>
                
                <div class="competence">
                    <label>{{localize "glyphes.competences.souplesse.court"}}</label>
                    <span class="moins" data-action="addRemoveDeCompetence" data-competence="souplesse" data-sens="-"></span>
                    <div class="diceVal">
                        <svg width="50" height="50" viewBox="0 0 100 100">
                            <use href="{{ callMethod ValeurDe "getIcon" system.competences.souplesse.value }}"/>
                        </svg>
                        <label>D{{ system.competences.souplesse.dice}}</label>
                    </div>
                    <span class="plus" data-action="addRemoveDeCompetence" data-competence="souplesse" data-sens="+"></span>
                </div>
                
                <div class="competence">
                    <label>{{localize "glyphes.competences.constitution.court"}}</label>
                    <span class="moins" data-action="addRemoveDeCompetence" data-competence="constitution" data-sens="-"></span>
                    <div class="diceVal">
                        <svg width="50" height="50" viewBox="0 0 100 100">
                            <use href="{{ callMethod ValeurDe "getIcon" system.competences.constitution.value }}"/>
                        </svg>
                        <label>D{{ system.competences.constitution.dice}}</label>
                    </div>
                    <span class="plus" data-action="addRemoveDeCompetence" data-competence="constitution" data-sens="+"></span>
                </div>

                
            </div>
            
            <div class="competences">
                <legend>{{localize "glyphes.competences.cat.ame"}}
                    <span class="points ame">
                        <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="ame" data-sens="-">-</span>
                        <span class="pts">
                            {{#times system.points.ame.value }}
                                <span class="active"></span>
                            {{/times}}
                            {{#times system.points.ame.bonus }}
                                <span class="bonus"></span>
                            {{/times}}
                            {{#times system.points.ame.nope }}
                                <span></span>
                            {{/times}}
                        </span>
                        <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="ame" data-sens="+">+</span>
                    </span>
                </legend>
                
                <div class="competence">
                    <label>{{localize "glyphes.competences.foi.court"}}</label>
                    <span class="moins" data-action="addRemoveDeCompetence" data-competence="foi" data-sens="-"></span>
                    <div class="diceVal">
                        <svg width="50" height="50" viewBox="0 0 100 100">
                            <use href="{{ callMethod ValeurDe "getIcon" system.competences.foi.value }}"/>
                        </svg>
                        <label>D{{ system.competences.foi.dice}}</label>
                    </div>
                    <span class="plus" data-action="addRemoveDeCompetence" data-competence="foi" data-sens="+"></span>
                </div>
                
                <div class="competence">
                    <label>{{localize "glyphes.competences.social.court"}}</label>
                    <span class="moins" data-action="addRemoveDeCompetence" data-competence="social" data-sens="-"></span>
                    <div class="diceVal">
                        <svg width="50" height="50" viewBox="0 0 100 100">
                            <use href="{{ callMethod ValeurDe "getIcon" system.competences.social.value }}"/>
                        </svg>
                        <label>D{{ system.competences.social.dice}}</label>
                    </div>
                    <span class="plus" data-action="addRemoveDeCompetence" data-competence="social" data-sens="+"></span>
                </div>
                
                <div class="competence">
                    <label>{{localize "glyphes.competences.esprit.court"}}</label>
                    <span class="moins" data-action="addRemoveDeCompetence" data-competence="esprit" data-sens="-"></span>
                    <div class="diceVal">
                        <svg width="50" height="50" viewBox="0 0 100 100">
                            <use href="{{ callMethod ValeurDe "getIcon" system.competences.esprit.value }}"/>
                        </svg>
                        <label>D{{ system.competences.esprit.dice}}</label>
                    </div>
                    <span class="plus" data-action="addRemoveDeCompetence" data-competence="esprit" data-sens="+"></span>
                </div>

            </div>
        </div>

        <hr/>

        <div>
            <h2><span>{{ localize "glyphes.sheet.actor.don.title" }}</span><span class="action add button" data-action="ajoutDon">{{ localize "glyphes.sheet.actor.don.ajoutbtn" }}</span></h2>
            {{#each system.donsObj as |don|}}
                <div class="don">
                    <div class="lignetab">
                        <label>{{localize (concat "glyphes.dons." don.id ".name")}}</label>    
                        <span class="action" >
                            <a data-action="toggle"  data-toggle="don_{{don._id}}"><i class="fas fa-eye"></i></a>
                            <a data-action="supprDon" data-don="{{don.id}}" title="{{localize "glyphes.common.label.delete"}}"><i class="fas fa-trash"></i></a>
                        </span>    
                    </div>
                    
                    <div class="toggleable flexrow" data-toggle_section="don_{{don._id}}">
                        <div class="infos">
                            {{localize (concat "glyphes.dons." don.id ".description")}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <hr/>

        <div>
            <legend>{{localize "glyphes.sheet.actor.heroisme.pts"}}
                    <span class="points heroisme">
                        <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="heroisme" data-sens="-">-</span>
                        <span class="pts">
                            {{#times system.points.heroisme.value }}
                                <span class="active"></span>
                            {{/times}}
                            {{#times system.points.heroisme.bonus }}
                                <span class="bonus"></span>
                            {{/times}}
                            {{#times system.points.heroisme.nope }}
                                <span></span>
                            {{/times}}
                        </span>
                        <span class="ptscontrol" data-action="addRemoveDePts" data-pointtype="heroisme" data-sens="+">+</span>
                    </span>
            </legend>
        </div>

        {{> actionHeroique_liste}}
    </div>

</div>

</section>