<section>

<div class="col2">
    <div class="competences">
        <legend>{{localize "glyphes.competences.cat.corps"}} 
            <span>
                <span data-action="addRemoveDePts" data-pointtype="corps" data-sens="-">-</span>
                <div>{{ fieldOrInput "system.points.corps.value" class="pj-sheet-input"}}</div>
                <span data-action="addRemoveDePts" data-pointtype="corps" data-sens="+">+</span>
            </span>
        </legend>
        

        <div class="">
            <label>{{localize "glyphes.competences.puissance.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="puissance" data-sens="-">-</span>
            <div class="diceVal">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <use href="{{ callMethod ValeurDe "getIcon" system.competences.puissance.value }}">
                </svg>
                <label>{{ callMethod ValeurDe "getVal" system.competences.puissance.value}}</label>
            </div>
            <span data-action="addRemoveDeCompetence" data-competence="puissance" data-sens="+">+</span>
        </div>
        
        <div class="">
            <label>{{localize "glyphes.competences.souplesse.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="souplesse" data-sens="-">-</span>
            <div class="diceVal">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <use href="{{ callMethod ValeurDe "getIcon" system.competences.souplesse.value }}"/>
                </svg>
                <label>{{ callMethod ValeurDe "getVal" system.competences.souplesse.value}}</label>
            </div>
            <span data-action="addRemoveDeCompetence" data-competence="souplesse" data-sens="+">+</span>
        </div>
        
        <div class="">
            <label>{{localize "glyphes.competences.constitution.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="constitution" data-sens="-">-</span>
            <div class="diceVal">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <use href="{{ callMethod ValeurDe "getIcon" system.competences.constitution.value }}"/>
                </svg>
                <label>{{ callMethod ValeurDe "getVal" system.competences.constitution.value}}</label>
            </div>
            <span data-action="addRemoveDeCompetence" data-competence="constitution" data-sens="+">+</span>
        </div>

        
    </div>
    
    <div class="competences">
        <legend>{{localize "glyphes.competences.cat.ame"}}
            <span>
                <span data-action="addRemoveDePts" data-pointtype="ame" data-sens="-">-</span>
                <div>{{ fieldOrInput "system.points.ame.value" class="pj-sheet-input"}}</div>
                <span data-action="addRemoveDePts" data-pointtype="ame" data-sens="+">+</span>
            </span>
        </legend>
        
        <div class="">
            <label>{{localize "glyphes.competences.foi.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="foi" data-sens="-">-</span>
            <div class="diceVal">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <use href="{{ callMethod ValeurDe "getIcon" system.competences.foi.value }}"/>
                </svg>
                <label>{{ callMethod ValeurDe "getVal" system.competences.foi.value}}</label>
            </div>
            <span data-action="addRemoveDeCompetence" data-competence="foi" data-sens="+">+</span>
        </div>
        
        <div class="">
            <label>{{localize "glyphes.competences.social.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="social" data-sens="-">-</span>
            <div class="diceVal">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <use href="{{ callMethod ValeurDe "getIcon" system.competences.social.value }}"/>
                </svg>
                <label>{{ callMethod ValeurDe "getVal" system.competences.social.value}}</label>
            </div>
            <span data-action="addRemoveDeCompetence" data-competence="social" data-sens="+">+</span>
        </div>
        
        <div class="">
            <label>{{localize "glyphes.competences.esprit.court"}}</label>
            <span data-action="addRemoveDeCompetence" data-competence="esprit" data-sens="-">-</span>
            <div class="diceVal">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <use href="{{ callMethod ValeurDe "getIcon" system.competences.esprit.value }}"/>
                </svg>
                <label>{{ callMethod ValeurDe "getVal" system.competences.esprit.value}}</label>
            </div>
            <span data-action="addRemoveDeCompetence" data-competence="esprit" data-sens="+">+</span>
        </div>

    </div>
</div>

<div>
    Dons <span class="action" data-action="ajoutDon">Ajouter un Don</span>
    {{#each system.donsObj as |don|}}
        <div>
            <label>{{localize (concat "glyphes.dons." don.id ".name")}}</label>
            <span class="action" data-action="supprDon" data-don="{{don.id}}">Supprimer</span>
            <div>{{localize (concat "glyphes.dons." don.id ".description")}}</div>
        </div>
    {{/each}}
</div>


<div>
    heroisme
    <legend>{{localize "glyphes.sheet.actor.heroisme.pts"}}
        <span>
            <span data-action="addRemoveDePts" data-pointtype="heroisme" data-sens="-">-</span>
            <div>{{ fieldOrInput "system.points.heroisme.value" class="pj-sheet-input"}}</div>
            <span data-action="addRemoveDePts" data-pointtype="heroisme" data-sens="+">+</span>
        </span>
    </legend>
</div>



{{> actionHeroique_liste}}


<div data-action="pioche">pioche</div>

{{#each system.sacrificesCards as |card|}}
    <div>{{card.name}}</div>
{{/each}}

</section>