<div class="sheet beryllium item-sheet">
    
    {{#if isCreation}}
        <div>
            <label>{{localize 'glyphes.sheet.dialog.ajoutActHer.select'}}</label>
            <select class="actionHeroique">
                <option value="">{{localize 'glyphes.sheet.dialog.ajoutActHer.selectOption'}}</option>
                {{#each actionsHeroiques as  |action|}}
                <option value="" data-name="{{localize action.name}}" data-cout="{{action.cout}}" data-effet="{{localize action.effet}}">{{localize action.name}}</option>
                {{/each}}
            </select>
        </div>
    {{/if}}

    <div class="field">
        <label>{{localize "glyphes.sheet.common.nom"}}</label>
        <div>{{ fieldOrInput "name" class="pj-sheet-input" value=document.name }}</div>
    </div>
    
    <div class="field">
        <label>{{localize "glyphes.sheet.effet.actionHeroique.effet"}}</label>
        <div>
            {{#fieldOrInput "system.effet" class="pj-sheet-input" }}
                <textarea name="system.effet"></textarea>
            {{/fieldOrInput}}
        </div>
    </div>
            
    
    
    <div class="field">
        <label>{{localize "glyphes.sheet.effet.actionHeroique.cout"}}</label>
        <div>{{ fieldOrInput "system.cout" class="pj-sheet-input" }}</div>
    </div>

</div>