<div class="pj-sheet-cat fields-container aspects">
    <h2>
        <span>{{localize "glyphes.sheet.effet.actionHeroique.title"}}</span>
        <span class="action add button" data-action="addEffet" title="{{localize "glyphes.sheet.effet.actionHeroique.ajout"}}">{{localize "glyphes.sheet.effet.actionHeroique.ajoutbtn"}}</span>
    </h2>

    {{#each actionsHeroiques as |effet| }}
        <div class="fiessld">
            <div class="lignetab">
                <div class="clickable" >{{effet.name}}</div>
                <div data-width="50">{{effet.system.cout}}</div>
                <div class="action">
                    <a data-action="toggle"  data-toggle="effet_{{effet._id}}"><i class="fas fa-eye"></i></a>
                    <a data-action="editEffet" data-effet="{{effet.id}}" title="{{localize "glyphes.common.label.edit"}}"><i class="fas fa-edit"></i></a>
                    <a data-action="deleteEffet" data-effet="{{effet.id}}" title="{{localize "glyphes.common.label.delete"}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <div class="toggleable flexrow" data-toggle_section="effet_{{effet._id}}">
                <div class="infos">
                    {{effet.system.effet}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
