<div class="field">
    <label>{{localize "glyphes.sheet.item.prix.defaut"}}</label>
    <div class="flextabs">

        {{log prix}}
        <label>{{localize "glyphes.sheet.item.prix.argent"}}</label>
        <div>{{ fieldOrInput "prix.argentglo" type="number" class="pj-sheet-input" }}</div>

        <label>{{localize "glyphes.sheet.item.prix.bronze"}}</label>
        <div>{{ fieldOrInput "prix.bronze" type="number" class="pj-sheet-input" }}</div>
    </div>
</div>