<div class="sheet glyphes mysheet item-sheet">
    <div class="sidebar">
        <div class="image">
            <img data-action="editImage" data-edit="img" src="{{document.img}}" alt="Photo de {{document.name}}" />
        </div>
    </div>
    <main>
        <div class="top">
            <div >
                <label>{{localize "glyphes.itemsheet.common.nom"}}</label>
                <div>{{ fieldOrInput "name" class="pj-sheet-input" value=document.name }}</div>
            </div>
        </div>
        <div class="content">
            <div>{{{tabs.sheet.html}}}</div>
            <div class="tabscontainer"></div>
        </div>
    </main>
</div>
