<section>

    <div class="field">
        <label>{{localize "glyphes.sheet.item.fabrication.zone.titre"}}</label>
        <div>
            {{#fieldOrInput "system.zone" class="pj-sheet-input"}}
                <select name="system.zone">
                    <option value="">{{localize "glyphes.sheet.item.fabrication.zone.choix"}}</option>
                    {{#each ../lists.zones as |zone| }}
                        <option value="{{@key}}" {{#if (eq @key ../../system.zone) }}selected{{/if}}>{{localize (concat "glyphes.fabrication.zone." @key) }}</option>
                    {{/each}}
                </select>
            {{/fieldOrInput}}
        </div>
    </div>

    <div class="field">
        <label>{{localize "glyphes.sheet.item.fabrication.duree.titre"}}</label>
        <div>
            {{#fieldOrInput "system.duree" class="pj-sheet-input"}}
                <select name="system.duree">
                    <option value="">{{localize "glyphes.sheet.item.fabrication.duree.choix"}}</option>
                    {{#each ../lists.durees as |duree| }}
                        <option value="{{@key}}" {{#if (eq @key ../../system.duree) }}selected{{/if}}>{{localize (concat "glyphes.fabrication.duree." @key) }}</option>
                    {{/each}}
                </select>
            {{/fieldOrInput}}
        </div>
    </div>

    <div class="field">
        <label>{{localize "glyphes.sheet.item.fabrication.temps.titre"}}</label>
        <div>
            {{#fieldOrInput "system.temps" class="pj-sheet-input"}}
                <select name="system.temps">
                    <option value="">{{localize "glyphes.sheet.item.fabrication.temps.choix"}}</option>
                    {{#each ../lists.tempss as |temps| }}
                        <option value="{{@key}}" {{#if (eq @key ../../system.temps) }}selected{{/if}}>{{localize (concat "glyphes.fabrication.temps." @key) }}</option>
                    {{/each}}
                </select>
            {{/fieldOrInput}}
        </div>
    </div>

    <div class="field">
        <label>{{localize "glyphes.sheet.item.fabrication.magnitude.titre"}}</label>
        <div>
            {{#fieldOrInput "system.magnitude" class="pj-sheet-input"}}
                <select name="system.magnitude">
                    <option value="">{{localize "glyphes.sheet.item.fabrication.magnitude.choix"}}</option>
                    {{#each ../lists.magnitudes as |magnitude| }}
                        <option value="{{@key}}" {{#if (eq @key ../../system.magnitude) }}selected{{/if}}>{{localize (concat "glyphes.common.difficulte." @key) }}</option>
                    {{/each}}
                </select>
            {{/fieldOrInput}}
        </div>
    </div>

    {{>notes}}
</section>